*{
    font-family: 'Open Sans', sans-serif;
}
.header{
    background-color: #FFF8F3;
    background-image: url(images/header_bg.png),url(images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
/* Navigation Bar Start */
.header-title{
    font-size: 45px;
}
.header-title span{
    color: #FD6E0A;
}
.header-nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}
nav ul{
    display: flex;
    font-size: 20px;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
nav li a{
    text-decoration: none;
}
.nav-button{
    color:white;
    background-color: #FD6E0A;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    align-items: center;
}
/* Navigation Bar End */

/* Banner Start */
.banner{
    display: flex;
    margin: 200px;
    align-items: center;
}
.banner-sub-title{
    font-size: 35px;
    color:#474747;

}
.banner-title{
    font-size: 55px;
    font-weight: 700;
    color: #181818;
}
.banner p{
    font-size: 18px;
    color: #757575;
}
.banner-first-button{
    list-style: none;
    padding: 18px 22px;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
}
.banner-first-button a{
    text-decoration: none;
    color: white;
}
.banner-second-button a{
    text-decoration: none;
    color:#FD6E0A;
}
.banner-second-button{
    list-style:none;
    padding: 14px 30px;
    background-color: white;
    border: 2px solid #FD6E0A;
    border-radius: 5px;
    margin-left: 15px;
}
/* Banner End */

main{
    max-width: 1160px;
    margin: 0 auto;
}
/* About Section Start */
.about-section{
    max-width: 1160px;
    margin: 0 auto;
    background-color: #FFF8F3;
    padding: 130px 156px;
    margin-bottom: 130px;
}
.about-section p{
    font-size: 20px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}
.section-title{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}
.about-table{
    margin: 0 auto;
    justify-content: space-around;
}
td{
    padding-left: 75px;
    padding-top: 30px;
    color: #757575;
}
th{
    padding-left: 50px;
    color: #474747;
    font-weight: 700;
}
/* About section end */

/* Skill Section Start */
.skill-section{
    max-width: 1160px;
    margin: 0 auto;
}
.skill-section h3{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}
.skill-section p{
    font-size: 20px;
    color: #757575;
    line-height: 30px;
    text-align: center;
    margin-bottom: 50px;
}
.skill{
    display: flex;
    gap: 24px;
}
.js{
    height: 370px;
    /* width: 270px; */
    background-color: white;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06), -0px -6px 50px rgba(0, 0, 0, 0.06);
    padding: 30px;
    border-radius: 5px;
}
.js img{
    margin-bottom: 30px;
}
.js h3{
    font-size: 20px;
    font-weight: 700;
    text-align: left;
}
.js p{
    color: #757575;
    /* font-size: 18px; */
    line-height: 28px;
    text-align: left;
}
.react{
    height: 370px;
    width: 270;
    background-color: white;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06), -0px -6px 50px rgba(0, 0, 0, 0.06);
    padding: 30px;
    border-radius: 5px;
}
.react img{
    margin-bottom: 30px;
}
.react h3{
    font-size: 20px;
    font-weight: 700;
    text-align: left;
}
.react p{
    color: #757575;
    /* font-size: 18px; */
    line-height: 28px;
    text-align: left;
}
.node-js{
    height: 370px;
    width: 270;
    background-color: white;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06), -0px -6px 50px rgba(0, 0, 0, 0.06);
    padding: 30px;
    border-radius: 5px;
}
.node-js img{
    margin-bottom: 30px;
}
.node-js h3{
    font-size: 20px;
    font-weight: 700;
    text-align: left;
}
.node-js p{
    color: #757575;
    /* font-size: 18px; */
    line-height: 28px;
    text-align: left;
}

.mongo{
    height: 370px;
    width: 270;
    background-color: white;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06), -0px -6px 50px rgba(0, 0, 0, 0.06);
    padding: 30px;
    border-radius: 5px;
}
.mongo img{
    margin-bottom: 30px;
}
.mongo h3{
    font-size: 20px;
    font-weight: 700;
    text-align: left;
}
.mongo p{
    color: #757575;
    /* font-size: 18px; */
    line-height: 28px;
    text-align: left;
}
/* Skill Style */
.resume{
    display: flex;
    gap: 24px;
}
.resume-heading{
    font-size: 45px;
    text-align: center;
    margin-top: 130px;
    margin-bottom: 110px;
}
.education-heading{
    font-size: 30px;
    font-weight: 700;
    color: #474747;
    margin-bottom: 30px;
}
.experience-heading{
    font-size: 30px;
    font-weight: 700px;
    color: #474747;
    margin-bottom: 30px;
}
.title{
    font-size: 25px;
    font-weight: 700;
    color: #474747;
    margin-bottom: 10px;
}
.sub-title{
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 20px;
    margin-block-start: .67em;
}
.description{
    line-height: 28px;
    color: #757575;
    margin-bottom: 30px;
}
.resume-btn{
    text-align: center;
    margin-top: 50px;
}
.resume-button{
    padding: 14px 28px;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
}
.resume-button a{
    text-decoration: none;
    color: white;
    margin: 0 auto;
}
.contact{
    display: flex;
    background-color: #FFF8F3;
    margin-top: 100px;
}
.contact-title{
    font-size: 30px;
    margin-bottom: 20px;
}
.contact-description{
    color: #474747;
    line-height: 28px;
    margin-bottom: 30px;
}
.connect-us{
    padding: 130px 230px;
}
.form{
    padding: 130px;
    padding-right: 230px;
}
.connect-us img{
    margin-left: 20px;
}
.form input[type="text"],[type="email"]{
    height: 64px;
    width: 460px;
    margin-bottom: 24px;
    padding: 10px 30px;
    border: 0;
}
.form-area{
    border: 0;
}
.form-button{
    color: white;
    background-color: #FD6E0A;
    padding: 12px 26px;
    border: 0;
    border-radius: 5px;
    margin-top: 24px;

}
